<% responses.each do |response|  %>
  <div class="card game-card" data-controller="addgame" data-game-id=<%= response["id"] %> >
      <%= image_tag response["background_image"] == nil ? "https://media.istockphoto.com/vectors/coming-soon-neon-banner-vector-template-glowing-night-bright-sign-vector-id1144514162?k=6&m=1144514162&s=612x612&w=0&h=np7sPl0hycuFTiDgfKCZFy3SF7XCjbRTcyF-sSKfMO8=" : response["background_image"],class:"card-img-top", width:320, height: 200, alt: response['name'] %>
    <div class="card-body">
      <h4 class="card-title"><%= link_to response['name'], game_path(response["id"]) %> </h4>
      <div class="game-rate d-flex justify-content-between">
        <span class="card-text"><small><i class="fas fa-star"></i>&nbsp&nbsp<%= response['rating']%></small></span>
        <span class="game-release"><small><i class="far fa-calendar-alt"></i>&nbsp&nbsp<%= response["released"] %></small></span>
      </div>
      <p class="game-genres"><small>
        <%= response['genres'].map { |genre| genre['name'] }.join(" | ") %>
      </small></p>
      <hr>
        <!-- checkboxes of platform so user can click to choose the platform of their blongs game -->
        <div class="game-platforms">
          <% response['platforms'].each do |platform| %>
            <% if current_user %>
              <input type="checkbox" class="checkbox-platform" data-target="addgame.platform" data-platform="<%= platform['platform']["name"] %>" data-game="<%= response['name'] %>" data-user=<%= current_user.id %> id=<%= "#{response['id']}-#{platform["platform"]["id"]}" %>>
              <label for=<%= "#{response['id']}-#{platform["platform"]["id"]}" %>><%=platform['platform']["name"]%></label>
            <% else %>
              <input type="checkbox" class="checkbox-platform" data-target="addgame.platform" id=<%= "#{response['id']}-#{platform["platform"]["id"]}" %>>
              <label for=<%= "#{response['id']}-#{platform["platform"]["id"]}" %>><%=platform['platform']["name"]%></label>
            <% end %>
          <% end %>
        </div>
        <!-- end of checkbox div -->
        <div class="act-wrapper d-flex">
          <!-- wish-button -->
          <div class="add-wish">
            <%= link_to "#", class: "wish-btn" do %>
              <i class="fas fa-gift"></i>
            <% end %>
          </div>
          <!-- end of wish-button -->
          <!-- add to my collection button -->
          <% if current_user %>
            <button class="btn btn-primary add-game" date-remote="true" data-action="click->addgame#saveGame"><i class="fas fa-plus"></i>&nbsp&nbspmy collection</button>
          <% else %>
            <%= link_to new_user_session_path, class: "btn btn-primary add-game" do %>
              <i class="fas fa-plus">&nbsp&nbsp</i> my collection
            <% end %>
          <% end %>
          <%#= link_to "Add to my collection", user_user_consoles_path(current_user), method: :post, class: "btn btn-primary add-game", data: {action: "click->addgame#saveGame"} %>
          <!-- end of the add button -->
        </div>
    </div>
  </div>
<% end %>

