<div class="container-user">
  <%= cl_image_tag user.photo.key, alt: "#{user.user_name}", class: "avatar-large"%>
  <h6><%= user.user_name %></h6>
  <h6>Owned Games: <%= user_games.count %></h6>
  <ul><i class="fas fa-gamepad"></i> - <%= platforms.count %> platforms
    <% platforms.each do |platform| %>
      <li><h6><%= platform.platform_name %> - <%= platform.user_games.count %></h6></li>
    <% end %>
  </ul>
</div>
