<div class="banner">
<h1>Time to join your gamecamp with your friends</h1>
<%= link_to "Login now!", new_user_session_path, class: "home-login" %>
</div>

<div class="container mt-5">
  <h2>Games on the trend</h2>
  <div class="card-grid">
    <% @responses.each do |response|  %>
      <div class="card" style="width: 18rem;">
        <%= image_tag response["background_image"],class:"card-img-top", width:310, height: 170, alt: response['name'] %>
        <div class="card-body">
          <h3 class="card-title"><%= response['name'] %></h3>
          <p class="card-text">rating: <%= response['rating'] %></p>
          <p class="card-text">
            <% response['platforms'].each do |platform| %>
              <p><%= platform['name'] %></p>
            <% end %>
          </p>
          <a href="#" class="btn btn-primary">Add to my collection</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
