<div class="game-container" data-controller="addgame" >
  <div class="game-content" data-game-id=<%= @response["id"] %> >

    <div class="game-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= @response['background_image'] == nil ? 'https://media.istockphoto.com/vectors/coming-soon-neon-banner-vector-template-glowing-night-bright-sign-vector-id1144514162?k=6&m=1144514162&s=612x612&w=0&h=np7sPl0hycuFTiDgfKCZFy3SF7XCjbRTcyF-sSKfMO8=' : @response['background_image'] %>')">
      <!-- <div><span class="exp-close">&times;</span></div> -->
    </div>

    <div class="game-show-body mt-4">
      <!-- first coloumn with game information -->
      <div class="game-show-info">
        <span class="game-show-title"><h3><%= @response['name'] %></h3></span>
        <hr>
        <div class="game-rate d-flex justify-content-between">
          <span class="rate-text"><i class="fas fa-star"></i>&nbsp&nbsp<%= @response['rating']%></span>
          <span class="game-release"><i class="far fa-calendar-alt"></i>&nbsp&nbsp<%= @response["released"] %></span>
        </div>
        <br>
        <p class="game-genres">
          <%= @response['genres'].map { |genre| genre['name'] }.join(" | ") %>
        </p>

        <br>
          <!-- checkboxes of platform so user can click to choose the platform of their blongs game -->
          <div class="game-platforms">
            <h6><i class="fas fa-gamepad"></i> Platforms:</h6>
            <% @response['platforms'].each do |platform| %>
              <% if current_user %>
                <input type="checkbox" class="checkbox-platform" data-target="addgame.platform" data-platform="<%= platform['platform']["name"] %>" data-game="<%= @response['name'] %>" data-user=<%= current_user.id %> id=<%= "#{@response['id']}-#{platform["platform"]["id"]}" %>>
                <label for=<%= "#{@response['id']}-#{platform["platform"]["id"]}" %>><%=platform['platform']["name"]%></label>
              <% else %>
                <input type="checkbox" class="checkbox-platform" data-target="addgame.platform" id=<%= "#{@response['id']}-#{platform["platform"]["id"]}" %>>
                <label for=<%= "#{@response['id']}-#{platform["platform"]["id"]}" %>><%=platform['platform']["name"]%></label>
              <% end %>
            <% end %>
          </div>
          <!-- end of checkbox div -->
          <div class="show-act-wrapper d-flex justify-content-around">
            <!-- wish-button -->
            <div class="add-wish ml-3">
              <%= link_to "#", class: "wish-btn" do %>
                <i class="fas fa-gift"></i>
              <% end %>
            </div>
            <!-- end of wish-button -->
            <!-- add to my collection button -->
            <% if current_user %>
              <button class="btn btn-primary add-game" date-remote="true" data-action="click->addgame#saveGame"><i class="fas fa-plus"></i>&nbsp&nbspmy collection</button>
            <% else %>
              <%= link_to new_user_session_path, class: "btn btn-primary add-game" do %>
                <i class="fas fa-plus">&nbsp&nbsp</i> my collection
              <% end %>
            <% end %>
            <%#= link_to "Add to my collection", user_user_consoles_path(current_user), method: :post, class: "btn btn-primary add-game", data: {action: "click->addgame#saveGame"} %>
            <!-- end of the add button -->
          </div>
          <br>
          <h6><i class="fas fa-shopping-cart"></i> Stores:</h6>
          <div class="game-stores d-flex justify-content-around">
            <% @response["stores"].each do |store| %>
              <%= link_to "#{store['store']['name']}", store['url'], target: "_blank" %>
            <% end %>
          </div>
          <hr>
          <div class="game-description">
            <h5>Game Intro: </h5>
            <%= sanitize @response["description"] %>
          </div>
      </div>
      <!-- end of game info part -->

      <!-- game galary with video and images -->
      <div class="game-show-galary ml-3">
        <h5 class="mb-3">Galary</h5>
        <% if @response["clip"] %>
          <video width="480" height="300" controls>
            <source src="<%= @response["clip"]["clip"] %>" type="video/mp4">
          </video>
        <% else %>
          <img src=" <%= @response["background_image_additional"] %> " alt=" <%= @response["name"] %>" width="480" height="300">
        <% end %>
        <br class="mt-3">
        <h6>Offical Website:</h6>
        <%= link_to "#{@response["name"]}", "#{@response["website"]}", target: "_blank" %>
      </div>
      <!-- end of game galary -->

    </div>
  </div>
</div>

